{# src/Cvut/Fit/BiWt1/PollBundle/Resources/views/Page/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About surveys</h1>
    </header>
    <article>
        <p>This site is the result of the semestral project at Web Technologies, BIE - WT1. The purpose of this project is to create a web application
        for creating, modifying and filling surveys. The site you are now looking at is a preliminary step towards the final product. It offers the possibility to
        create, save, modify surveys. On the other hand, you can answer these surveys and later look at how people voted. There are three types of questions: text questions, single choice questions and multiple choice questions. At any time you can edit a question, it's choices, delete a question or a survey. The site was developed in Symfony2 framework, that is, PHP programming language, YAML scripting language for routing. TWIG, HTML and CSS was used for layout and styling. All the data is stored in a MySQL database, accessed through Doctrine API. 
        .</p>
    </article>
{% endblock %}